/* styles.css */

/* Body styling */
body {
    background-color: #C5CFDB;
  }
  
  /* Navbar styling */
  .navbar {
    background-color: #343a40; /* Dark background color for the navbar */
  }
  
  .navbar-brand {
    font-size: 1.5rem; /* Adjust the font size for the brand */
  }
  
  .navbar-nav .nav-link {
    color: white; /* Text color for navbar links */
  }
  
  /* Header styling */
  header {
    background-color: #B195FF;
    color: white;
    padding: 5rem 0;
  }
  
  /* About section styling */
  #about {
    background-color: #B9C3CE;
    padding: 5rem 0; 
  }
  
  /* Education section styling */
  #education {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0; 
  }

  
  /* Profile image styling */
  .profile-image {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    display: inline-block;
  }
  

  /* Education label styling */
  .education-label {
    font-style: italic;
  }
  
  /* Courses list styling */
  .courses-list {
    list-style-type: none;
    padding: 0;
  }
  
  /* Footer styling */
  footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0; 
  }
  

  /* Custom Button Styles */
.btn-lilac {
  background-color: #C8A2C8;
  color: white;
  border: none;
}

.btn-lilac:hover {
  background-color: #B284BE;
  color: white;
}

.btn-periwinkle {
  background-color: #bd9de5;
  color: white;
  border: none;
}
.btn-periwinkle:hover {
  background-color: #8c6ab4;
  color: white;
}

.btn-linkedIn {
  background-color: #0072b1;
  color: white;
  border: none;
}
.btn-linkedIn:hover {
  background-color: rgb(71, 74, 125);
  color: white;
}



/* Adjust spacing for all buttons */
.btn {
  margin-right: 15px; /* This will ensure uniform spacing between all buttons */
}

/* Remove margin from the last button to avoid extra space on the right */
.btn:last-child {
  margin-right: 0;
}

/* Contact styling */
#contact {
  padding: 5rem 0; 
  background-color: #B9C3CE;
}

#contact .text-center {
  text-align: center;
}

#contact .d-flex {
  justify-content: center;
}

/* Background color for the contact page */
body.contact-page {
  background-color: #B195FF;
}

/* Ensure all cards in a row have the same height */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card .card-body {
  display: flex;
  flex-direction: column;
}

.embed-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
